:root {
    --bg-light: #F9EFDB;
    --bg-dark: #EBD9B4;
    --light-green: #9DBC98;
    --dark-green: #3A4D39;
    --dark-brown: #675D50;
    --teal: #638889;
    --pink: #D37676;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    height: calc(100% - (134px + 64px));
    align-items: stretch;
    font-size: 20px;
}

.btn {
    border: none;
    padding: 4px 8px;
    background-color: inherit;
    border-radius: 4px;
}

.section-title {
    padding: 12px 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    background-color: var(--light-green);
    align-items: center;
    gap: 8px;
}

.fa-list-check {
    font-size: 50px;
    color: var(--dark-green);
}

.page-title {
    font-family: "Viga", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}

/* MENU */

.menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 500px;
    background-color: var(--bg-light);
    padding: 20px;
}

.category-section,
.project-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

.fa-trash {
    color: var(--dark-brown);
}

.fa-trash:hover {
    filter: brightness(0.70);
    cursor: pointer;
}

.project:hover,
.btn:hover {
    background-color: var(--bg-dark);
    cursor: pointer;
}

/* TASK LIST */

#task-list-title {
    display: none;
}

.task-list-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--bg-dark);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 1000px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 8px;
    border-radius: 4px;
}

.task:hover {
    background-color: var(--bg-light);
}

/* FORMS */

.btn-form {
    flex: 1;
    height: 40px;
    font-size: 20px;
}

#btn-submit-project,
#btn-submit-task {
    background-color: var(--light-green);
}

#btn-cancel-project,
#btn-cancel-task {
    background-color: var(--pink);
}

input {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

/* ADD PROJECT FORM */

.add-project-form {
    display: none;
    padding: 10px 0;
}

.add-project-buttons {
    display: flex;
    width: 100%;
    gap: 4px;
}

#btn-add-project {
    display: flex;
    align-items: center;
    padding: 8px;
    color: var(--dark-brown);
}

/* ADD TASK FORM */

.add-task-form {
    display: none;
    padding: 20px;
    width: 600px;
    background-color: var(--bg-light);
    border-radius: 4px;
}

.add-task-buttons {
    display: flex;
    width: 50%;
    gap: 4px;
}

.fa-square-plus {
    font-size: 24px;
    margin-right: 6px;
}

#btn-add-task {
    display: flex;
    align-items: center;
    max-width: 300px;
    padding: 8px;
    color: var(--dark-brown);
}

#btn-add-task:hover {
    background-color: var(--bg-light);
}

/* SHOW FORMS */

.show {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: var(--bg-light);
}

