:root {
    --bg-light: #F9EFDB;
    --bg-dark: #EBD9B4;
    --accent-light: #9DBC98;
    --accent-dark: #638889;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0
}

header {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    background-color: var(--accent-light);
}

main {
    display: flex;
    height: calc(100% - (104px + 64px));
    align-items: stretch;
}

/* MENU */

.menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
    background-color: var(--bg-light);
    padding: 20px;
}

.category-section,
.project-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project {
    padding: 4px 8px;
}

.project:hover {
    background-color: var(--bg-dark);
    cursor: pointer;
}

/* ADD PROJECT FORM */

.add-project-form {
    display: none;
}

/* ADD TASK FORM */

.add-task-form {
    display: none;
}

.show {
    display: block;
}

/* .btn {
    border: none;
    padding: 10px;
    background-color: inherit;
} */

/* TASK LIST */

.task-list-section {
    background-color: var(--bg-dark);
    width: 100%;
    height: 100%;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: var(--bg-light);
}

